<!--
<div style="width: 90%; margin: 0 auto">
<br/>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Quienes somos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Menú</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Donde estamos</a>
  </li>
</ul>
<br/>


<div class="row">
  <div class="col">
     Esta es la primera a
  </div>
  <div class="col">
    Esta es la segunda fila
  </div>
  <div class="col">
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  </div>
</div>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
</div>
-->

<app-nav></app-nav>
<app-carrusel></app-carrusel>
<app-card></app-card>
<app-formulario></app-formulario>
